body{
    margin: 0;
    padding: 0;
    background-color: #c6c7be;
    }
.head{
    display:flex;
    width: 100%;
    background-color:rgb(29,29,27);
    color:yellow;
}

.logo{
    margin-left: 30px;
}
.name{
    color: yellow;
    margin-top:80px;
    margin-left:320px;
    text-align: center;
    font-size: 1.5em;
}
.quit{
    margin-top:80px;
    margin-left:300px;
    font-size: 1.2em;
}
.main{
    display: flex;
}
.left-main{
    display:block;
    width: 300px;
    background-color: rgb(29,29,27);
    padding-top: 150px;
    height: 550px;

}
.left-main-category{
    color: yellow;
    font-size: 1.25em;
    height: 40px;
    padding: 20px;
    padding-top: 30px;
    width: 260px;
    text-align: center;
    transition: 1s linear;
    border-top: 2px solid wheat;

}
.left-main-category:hover{
    background-color: rgb(73, 221, 15);
    border-radius: 15px;
    border:1px solid black;
}
.nav-link{
    color:yellow;
    text-decoration: none;

}
.center-main{
    display:flex;
    padding: 50px;
    
}
.spawn1{
    width: 200px;
    background-color: black;
    color: yellow;
    height: 170px;
    margin-left: 200px;
    margin-top: 100px;
    padding: 10px;
    padding-top: 20px;
    text-align: center;

}
.spawn2{
    width: 200px;
    background-color: black;
    color: yellow;
    height: 170px;
    margin-left: 150px;
    margin-top: 100px;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
}
.submit{
    margin-top: 40px; 
}
.content{
    padding-top:20px;
    display: block;
    width: 600px;
    height: 400px;
    background-color: rgb(167, 167, 146);
    border-radius: 15px;
    border:1px solid black;
    color:black;
    margin-left: 30px;
    margin-top: 80px;
    font-size: 1.2em;
}
.content3{
    padding-top:20px;
    display: block;
    width: 800px;
    height: 800px;
    background-color: rgb(167, 167, 146);
    border-radius: 15px;
    border:1px solid black;
    color:black;
    margin-left: 30px;
    margin-top: 80px;
    font-size: 1.2em;
}
.content1{
    padding-top:20px;
    display: block;
    width: 700px;
    height: 500px;
    background-color: rgb(167, 167, 146);
    border-radius: 15px;
    border:1px solid black;
    color:black;
    margin-left: 30px;
    margin-top: 80px;
    font-size: 1.2em;
}
#zag{
    margin-left: 240px;
    font-size:1.2em;
    color: black;
}
.form-signin3{
    text-align: right;
    padding-left: 20px;
}
.form-control3{
    border-radius: 5px;
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    height: 30px;
}
.submit3{
        text-decoration: none;
        display: inline-block;
        width: 140px;
        height: 45px;
        line-height: 45px;
        border-radius: 45px;
        margin: 10px 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        font-weight: 600;
        color: #524f4e;
        background: white;
        box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
        transition: .3s;
        margin-top: 60px;
        margin-left: 400px;
      }
      submit3:hover {
        background: #f5e502;
        box-shadow: 0 15px 20px rgba(224, 228, 4, 0.4);
        color: white;
        transform: translateY(-7px);
};
.team1{ 
    width: 100px;
    height:50px;
    color: red;
    margin-left:1300px;
    text-align: center;
}
.team2{
    width: 100px;
    height:50px;
    color: red;
    text-align: center;
}

#Team1-name{
    margin-left: 70px;
    font-size: 1.2em;
    margin-left:150px;

}
#Team2-name{
    font-size: 1.2em;
    margin-left: 20px;

}
.name-team2{
    margin-left: 160px;
}
.name-teams{
    display: flex;
}
.score{
    width: 100px;
    height: 50px;
    color: black;
    margin-left: 150px;
}
.score-teams{
    display: flex;
}

.add {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    margin-top: 60px;
    margin-left: 400px;
  }
.add:hover {
    background: #f5e502;
    box-shadow: 0 15px 20px rgba(224, 228, 4, 0.4);
    color: white;
    transform: translateY(-7px);
}
.add1 {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    margin-top: 130px;
    margin-left: 470px;
  }
.add1:hover {
    background: #f5e502;
    box-shadow: 0 15px 20px rgba(224, 228, 4, 0.4);
    color: white;
    transform: translateY(-7px);
}
.showmatch{
    width: 100px;
    margin-left:20px;
    height: 50px;

}
.map{
    margin-top:15px;
    display: flex;
    width:400px;
    height: 40px;
    padding-left:20px;
    margin-left:10px;
}
.hidden{
    visibility: hidden;
}
.maps{
    display: flex;
    margin-top:10px;
    height: 180px;
    width: 700px;
}
.maps1{
    display:block;
}
.opis1{
    padding: 5px;
    text-align: center;
    margin-left: 50px;
    height: 230px;
    width: 220px;
}
.opis1-1{
    text-align: left;
}
.mid2-3{
    display: flex;
    width: 400px;
    height: 250px;
    color: black;
    margin-left: 20px;
}
.srt-all{
    display: block;
    padding-top: 20px;
}
.str-name-id{
    width: 20px;
    margin-top:20px;
    visibility: hidden;
}
.str-name{
    width: 120px;
    margin-top: 20px;
}
.stats{
    width: 400px;
    height: 200px;
    padding-top: 10px;
    padding-left: 10px;
}
.opis{
    display: flex;
    width: 200px;
    margin-bottom: 8px;
}
#kd{
    margin-left:16px ;
}
.stats-1{
    display: flex;
    margin-bottom: 21px;
}
.opr{
        text-decoration: none;
        display: inline-block;
        width: 140px;
        height: 45px;
        line-height: 45px;
        border-radius: 45px;
        margin: 10px 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        font-weight: 600;
        color: #524f4e;
        background: white;
        box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
        transition: .3s;
        margin-top: 60px;
        margin-left: 400px;
      }
    .opr:hover {
        background: #f5e502;
        box-shadow: 0 15px 20px rgba(224, 228, 4, 0.4);
        color: white;
        transform: translateY(-7px);
}
.block1{
    height: 30px;
    width: 150px;
    text-align: center;
}
.block2{
    height: 30px;
    width: 320px;
    margin-left: 50px;
}
#zayvki{
    display: flex;
}
.content12{
    width: 500px;
    height: 30px;
    margin-bottom: 20px;
}
#probel{
    margin-left: 30px;
}
#probel1{
    margin-left: 120px;
}
#allnewplayer{
    margin-left: 20px;
}